{% extends "layout.html" %}
{% block title %}Notification Feed{% endblock %}
{% block page %} {{ current_user.getName() }}'s Notification Feed{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{{ super() }}

{% block content %}
<main class="container">

    <div class="card">
        <div class="card-content">
            <span class="card-title">Create Recommendation</span>
            <form method="POST" action="/recommendation">
                <div classs="input-field">
                    <label for="student">Students with accepted requests</label>
                    {% if accepted_req_students %}
                    <select placeholder="reqID" name="reqDetails" id="student" style="display:inline">
                        {% for req in accepted_req_students %}
                        <option value="-1" selected disabled hidden>Select a student</option>
                        <option value="{{ req.reqID }},{{ req.Student.getName() }}">{{ req.Student.getName() }}
                        </option>
                        {% endfor %}
                    </select>
                    {% else %}
                    <select placeholder="reqID" name="reqDetails" id="student" style="display:inline"
                        onmousedown="(function(e){ e.preventDefault(); })(event, this)">
                        <option value="-1"> No student requests available or accepted</option>
                    </select>
                    {% endif %}
                </div>
                <br />
                <div class="input-field">
                    <label for="text">Recommendation Comments</label>
                    <textarea type="text" name="comments" placeholder="Enter comments for student recommendation"
                        class="materialize-textarea" {% if not accepted_req_students %} disabled {% endif %}></textarea>
                </div>

                <div classs="card-action">
                    <input class="btn green white-text" type="submit" value="Create" {% if not accepted_req_students %}
                        disabled {% endif %} />
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        {% if notifs %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Deadline</th>
                    <th>Actions</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for notif in notifs|reverse %}
                {% set status = notif.Request_Recommendation.status.value.upper() %}
                <tr {% if not notif.seen %} class="green accent-1" {% endif %}>
                    <td>{{ notif.Student.getName() }}</td>
                    <td>
                        {{ notif.Request_Recommendation.deadline.strftime('%Y-%m-%d') }}
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn green"
                            href="/recommendation_request/{{notif.reqID}}">View</a>
                    </td>
                    <td>
                        <span {% if status=="ACCEPTED" %} class="chip green-text" {% elif status=="REJECTED" %}
                            class="chip red-text" {% elif status=="COMPLETED" %} class="chip blue-text" {% elif
                            status=="EXPIRED" %} class="chip grey-text" {% else %} class="chip" {% endif %}>
                            {{ status }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
        {% else %}
        <p> You have no notifications. Check back later!</p>
        {% endif %}
    </div>

</main>
{% endblock %}