{% extends "layout.html" %}
{% block title %}Notification Feed{% endblock %}
{% block page %} {{ current_user.getName() }}'s Notification Feed{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{{ super() }}

{% block content %}
<main class="container">

    <!-- <div class="card">
        <div class="card-content">
            <span class="card-title">Create Todo</span>
            <form name="addForm" method="POST" action="/todos">
                <div class="input-field">
                    <input type="text" name="text" placeholder="enter to-do" class="materialize-textarea"></textarea>
                    <label for="text">Enter todo Text</label>
                </div>
                <input class="btn blue white-text" type="submit" value="SAVE" />
            </form>
        </div>
    </div> -->

    <div class="row">
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Deadline</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for notif in notifs %}
                <tr>
                    <td>{{ notif.Student.getName() }}</td>
                    <td>
                        {{ notif.Request_Recommendation.deadline.strftime('%Y-%m-%d') }}
                        {% if notif.isExpired %}
                        Expired
                        {% endif %}
                    </td>
                    <td>
                        {% if notif.seen %}
                        Seen
                        {% endif %}
                        <a class="waves-effect waves-light btn green"
                            href="/notification/{{notif.notificationID}}">View</a>
                    </td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>

</main>
{% endblock %}