{% extends "layout.html" %}
{% block title %}Notification Feed{% endblock %}
{% block page %}{{ notif.Student.getName() }}'s Recommendation Request{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{{ super() }}

{% block content %}
<main class="container">

    <!-- <div class="card">
        <div class="card-content">
            <span class="card-title">Create Todo</span>
            <form name="addForm" method="POST" action="/todos">
                <div class="input-field">
                    <input type="text" name="text" placeholder="enter to-do" class="materialize-textarea"></textarea>
                    <label for="text">Enter todo Text</label>
                </div>
                <input class="btn blue white-text" type="submit" value="SAVE" />
            </form>
        </div>
    </div> -->

    <div class="row">
        <table>
            <tbody>
                <tr>
                    <td>{{ notification.Student.getName() }}</td>
                    <td>{{ notification.Request_Recommendation.status.upper() }}</td>
                    <td>
                        {{ notif.Request_Recommendation.deadline.strftime('%Y-%m-%d') }}
                        {% if notification.isExpired %}
                        Expired
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <p>{{ notification.Request_Recommendation.requestBody }}</p>
        <table>
            <tbody>
                <tr>
                    <td><a class="waves-effect waves-light btn green"
                            href="/notification/{{notif.notificationID}}/accept">Accept</a></td>
                    <td><a class="waves-effect waves-light btn green"
                            href="/notification/{{notif.notificationID}}/reject">Reject</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</main>
{% endblock %}