{% extends "layout.html" %}
{% block title %}Homepage | Stafferral{% endblock %}
{% block page %}Homepage{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
</ul>
{% endblock %}

{{ super() }}

{% block content %}
<h1>STAFFERRAL</h1>
<h3>Recommendations Made Simple</h3>
<p>
    <a class="waves-effect waves-light btn {{ colour_theme }}" href="/signup">Sign Up</a>
    as either
    <span class="waves-effect waves-light btn blue">staff</span> or
    <span class="waves-effect waves-light btn green">student</span>
</p>
<p>
    <br />
    <a class="waves-effect waves-light btn {{ colour_theme }}" href="/login">Login</a> to begin
</p>
{% endblock %}