<!doctype html>
<html>
{% if current_user and current_user.is_authenticated %}
{% if current_user.getType() == "student" %}
{% set colour_theme = "green" %}
{% set theme_colour = "#4CAF50" %}
{% elif current_user.getType() == "staff" %}
{% set colour_theme = "blue" %}
{% set theme_colour = "#2196F3" %}
{% endif %}
{% else %}
{% set colour_theme = "orange" %}
{% set theme_colour = "#FF9800" %}
{% endif %}

<head>
  <!-- Meta tags for SEO -->
  <meta charset="UTF-8" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="theme-color" content="{{ theme_colour }}">
  <meta name="twitter:site" content="@danidre" />
  <meta property="og:title" content="{% block ogtitle %}Stafferral{% endblock %}">
  <meta name="twitter:domain" content="stafferral-website.onrender.com" />

  <meta name="description" content="{% block description %}Stafferral: Recommendations Made Simple{% endblock %}" />
  <meta property="og:description"
    content="{% block ogdescription %}Stafferral: Recommendations Made Simple{% endblock %}">
  <meta property="og:image" content="https://stafferral-website.onrender.com/static/favicons/favicon-orange.png">
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="150" />
  <meta property="og:image:alt" content="Stafferral Brand Logo" />
  <meta property="og:url" content="https://stafferral-website.onrender.com/" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary" />

  <title>{% block title %}Stafferral{% endblock %}</title>
  <!-- Import custom stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Import Custom App Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  </style>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Add favicon -->
  <link rel="icon" type="image/png" href="/static/favicons/favicon-{{ colour_theme }}.png">

</head>

<body>
  <header>
    <nav class="{{ colour_theme }}">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{% block page %}{% endblock %}</a>
        <div class="nav-wrapper">
          <ul id="nav-mobile" class="left">
            <li><a style="height: 64px" href="/">
                <img style="height: 52px; margin-top: 6px;" src="/static/images/logo-{{ colour_theme }}.png"
                  alt="Stafferral Logo">
              </a></li>
          </ul>
          {% block link %}{% endblock %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav class="white black-text" style="padding: 10px">
      <div class="nav-wrapper">
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}
  </header>

  <main>
    <div class="container" id="content">{% block content %}{% endblock %}</div>
  </main>


  <footer style="padding-top: 0;" class="{{ colour_theme }} page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2022 STAFFERRAL
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>